<div class="product-sort-container">
    <div class="sort-control-container" [formGroup]="sortForm"> 
        <select [formControlName]="'sortProperty'" (change)="setProperty()">
            <option value="" disabled selected>Select a Property...</option>
            <option *ngFor="let property of properties" value="{{property.id}}">{{property.name}}</option>
        </select>

        <select [formControlName]="'sortOperator'" *ngIf="validOperators.length > 0" (change)='setOperator()'>
            <option value="" disabled selected>Select an Operator...</option>
            <option *ngFor="let operator of validOperators" value="{{operator.id}}">{{operator.text}}</option>
        </select>

        <!-- @NOTE: Could be improved with a directive to limit input characters -->
        <input
            *ngIf="additionInputRequired && additionInputRequired !== 'enumerated' || additionInputRequired && (additionInputRequired === 'enumerated' && activeOperator !== 'in')"
            #textSearch
            [formControlName]="'textSearch'"
            type="text"
            maxlength="50"
            placeholder="Search Text"
            (input)="inputSearch(textSearch.value)"
        />

        <select
            multiple
            *ngIf="additionInputRequired && activeOperator === 'in'  && additionInputRequired === 'enumerated'"
            [formControlName]="'enumeratedSearch'"
            (change)='enumSearch()'>
            <option value="" disabled selected>Select Search Options...</option>
            <option *ngFor="let enum of activePropertyEnums" value="{{enum}}">{{enum}}</option>
        </select>

        <button (click)="clearSortForm()">Clear</button>
    </div>

    <div class="product-properties">
        <div class="property-name" *ngFor="let property of properties">{{property.name}}</div>
    </div>

    <div class="products-container">
        <div class="product-row" *ngFor="let product of productsToDisplay">
            <div class="product-detail" *ngFor="let property of properties; let i = index">
                {{product.property_values[i]?.value || null}}
            </div>
        </div>

        <div class="empty-results-container" *ngIf="productsToDisplay.length === 0">
            <p>No Products Match This Criteria</p>
        </div>
    </div>
</div>